body {
  font-family: 'Montserrat', sans-serif;
}

.title {
  font-family: 'Open Sans', sans-serif;
}

.span {
  display: block;
}

.box-1 {
  border: 2px solid #b7d84b;
  padding-top: 1rem;
  border-radius: 10px;
}

header {
  background-color: #a0cdf8;
  color: #fff;
}

.btn-green {
  background-color: #a0cdf8;
  color: #fff;
  font-weight: bold;
}
